<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <section class="hero is-primary is-medium is-bold" style="background-image: url('/img/kotatsu-smp-web.jpg');">
      <div class="hero-head">
        {% include header.html %}
      </div>
      <div class="hero-body mb-6">
        <div class="container has-text-centered">
          <h1 class="title">
          {{ page.title }}
          </h1>
        </div>
      </div>
    </section>
    <section class="container is-max-desktop section" style="margin-top: -9em;">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="{% link index.html %}">Kotatsu SMP</a></li>
          <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
        </ul>
      </nav>
      {{ content }}
    </section>
    {% include footer.html %}
    <script src="/js/vendor.js?{{ site.time | date:'%s' }}"></script>
    <script src="/js/main.js?{{ site.time | date:'%s' }}"></script>
  </body>
</html>